.guideline-left-nav {
    width: 365px;
    background-color: #383838;
    float: left;
    min-height: calc(100vh - 140px);
    padding-top: 40px;

    h1 {
        font: '72-Light';
        color: white;
        font-size: 24px;
        margin-bottom: 25px;
        padding-left: 40px;
    }

    h2, .main-nav {
        padding-left: 40px;
        color: white;
        font: '72-Bold';
        font-size: 20px;
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        display: block;
        &.selected {
            cursor: default;
            background-color: #676767;
        }
        &:not(.selected):hover {
            background-color: #676767;
        }
    }

    a.control-menu {
        font-family: '72-Light';
        color: white;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        padding-left: 60px;
        display: block;
    }

    input {
        margin-left: 40px;
        width: calc(100% - 80px);
        background-color: #666666;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
        font-family: '72-Regular';
        color: white;
        border: none;
        padding-left: 10px;
        padding-right: 40px;
        border-radius: 5px;
        background-image: url('./img/search-white.png');
        background-repeat: no-repeat;
        background-position: right 10px center;
        margin-bottom: 35px;
        &:focus {
            outline-width: 0;
        }
    }
}
