.guideline-header {
    height: 70px;
    background-color: #eaeaea;
    width: 100%;
    line-height: 70px;

    .options {
        float: right;

        .option {
            float: left;
            font-family: '72-Regular';
            font-size: 16px;
            color: #515151;
            width: 175px;
            cursor: pointer;

            &.selected {
                font-family: '72-Bold';
                cursor: default;
            }
        }
    }
}